body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}

.header{
    margin-bottom: 100px;
    background-image: url(image/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-top: -35px;
}

.header-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 6%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(crimson,salmon);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px salmon;
    color: white;
    font-weight: 700px;
}

.amount{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.donate-today h2{
    font-size: 30px;
    font-weight: 700px;
}

.flexiable{
    display: flex;
    justify-content: space-between;
}

#tk100{
    background-color: #ddd;
    padding: 25px;
    cursor: pointer;
}

#tk200{
    background-color:beige;
    color: crimson;
    padding: 25px;
    border: 2px solid crimson;
    border-radius: 5px;
    cursor: pointer;
}

#tk500{
    background-color: #ddd;
    padding: 25px;
    cursor: pointer;
}

#tk5000{
    background-color:#ddd;
    padding: 25px;
    cursor: pointer;
}

.input-field input{
    padding: 8px 200px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.our-donate{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.our-donate h2{
    font-size: 30px;
    font-weight: 700px;
}
.box{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-left: 7%;
    margin-bottom: 100px;
}

.food{
    background-color:beige;
    padding: 2%;
    margin-right: 5%;
}

.shelter{
    background-color:lightcyan;
    padding: 2%;
    margin-right: 5%;
}

.frame{
    background-color:powderblue;
    padding: 2%;
    margin-right: 5%;
}

.update{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.update h2{
    font-size: 30px;
    font-weight: 700;
}

input{
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ddd;
}

button{
    padding: 10px 50px;
    pointer: cursor;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: crimson;
}

form{
    border: 60px solid paleturquoise;
    background-color:paleturquoise;
}

footer{
    text-align: center;
    background-color: rgb(17, 16, 16);
    color: white;
    font-family:cursive;
    height: 150px;
}

footer h3{
    padding: 3%;
    color: crimson;
}